<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/JQUERY.MOBILE.css" />
    <script src="cordova-2.4.0.js"></script>
    <script src="js/ANGULAR.js"></script>
    <script src="js/JQUERY.js"></script>
    <script src="js/JQUERY.MOBILE.js"></script>
    <script src="js/index.js"></script>
</head>
<body>

<div data-role="page">

    <div data-role="header">
        <h1>APP</h1>
    </div>
    <div data-role="content">
        <p>CONTENT</p>
        <ul data-role="listview" data-inset="true" data-filter="true">
            <li><a href="#">Acura</a></li>
            <li><a href="#">Audi</a></li>
            <li><a href="#">BMW</a></li>
            <li><a href="#">Cadillac</a></li>
            <li><a href="#">Ferrari</a></li>
        </ul>
    </div>
</div>
</body>
</html>